<ion-content>

  <div class="mainContainer">
    <div class="status-grid">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-img src="assets/images/sponsorship.png" style="opacity: 0.4"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img src="assets/images/silver_level.png"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img src="assets/images/gold_level.png" style="opacity: 0.4"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img src="assets/images/platinum_level.png" style="opacity: 0.4"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  
    <ion-card>

      <div>
        <p>
          Recommended goals are available only when you have completed your health check. Your data will be kept
          confidential and help us to improve your health </p>
      </div>
      <div>
        <ion-item lines="none">
          <ion-icon slot="start" name="bed"></ion-icon>
          <ion-label>Improve your Sleep</ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>
        <ion-item lines="none">
          <ion-icon slot="start" name="heart-half"></ion-icon>
          <ion-label>Increase your fiber intake</ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>
      </div>

    </ion-card>
  

</ion-content>