<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>My cmpObjs</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label position="stacked">User Name</ion-label>
        <ion-input [(ngModel)]="inputCurrUser.username"></ion-input>
      </ion-item>
    <ion-item>
      <ion-label position="stacked">age</ion-label>
      <ion-input [(ngModel)]="inputCmpObj.name"></ion-input>
    </ion-item>

  <ion-button expand="block" (click)="addObj()">Add</ion-button>

  <ion-label position="stacked">All Users</ion-label>
  <ion-list>
    
    <ion-item button *ngFor="let cmpObj of (displayAllObjs | async)">
      {{ cmpObj.id }}
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="showObjs()">Show</ion-button>
  
  <ion-item>
    <ion-label position="stacked">Current User</ion-label>
    <ion-input [(ngModel)]="currentUserObj.name"></ion-input>
  </ion-item>

  
  <ion-button expand="block" (click)="logout()">Logout</ion-button>

</ion-content> -->