<ion-content>
  <!-- Points grid starts here-->
  <ion-card class="background">
    <ion-card class="background">
    
        <ion-card >
          <ion-item lines="none">
            <ion-img src="assets/images/Marriott Hotels.png"></ion-img>
            <ion-label class="highlighted">15% Off</ion-label>
         </ion-item>
         <ion-item lines="none">
           <ion-label>Enjoy 15 % Off on Marriott Hotels</ion-label>
         </ion-item>
        </ion-card>

        <ion-card>
        <ion-item lines="none">
          <ion-img src="assets/images/AirAsia.png"></ion-img>
          <ion-label class="highlighted">10% Off</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Enjoy 10% Off on AirAsia Flights</ion-label>
        </ion-item>
      </ion-card>
      <ion-card>
          <ion-item lines="none">
            <ion-img src="assets/images/Gold Gym.png"></ion-img>
            <ion-label class="highlighted">10% Off</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Enjoy 10% Off on Gold's Gym Memebership</ion-label>
          </ion-item>
      </ion-card>
      

    </ion-card>
  </ion-card>

</ion-content>