ion-content{
    --background : linear-gradient( rgb(64, 185, 213) 50%, white 50%);
}

div.firstHalf{
    height: 30%;
    padding-left: 42%;
    padding-right: 39%;
    padding-top: 20%;

    // height: 30%;
    // //background-color: rgb(64, 98, 201);    
    // //padding-top: 20%;
    // padding-left: 40%;
    // padding-right: 30%;

}

div.firstHalf img{
    max-width: 100%;
    background-color: white;
    border-radius: 50%;
    padding: 10%;
}

ion-card{
    background-color: #fff;
    height: 60%;      
}

ion-card-header{
    height: 5%;
    padding-left: 40%;
    
}

ion-card-title{
    font-size:  20px;
}

ion-item.username,ion-item.password{
    font-size:  14px;
    margin: 0 auto;
}

ion-item.TnC{
    font-size: 10px;
    --background: transparant;    
}

ion-button{
    margin-left: 27%;
    margin-right: 25%;
    //margin-top: 5%;
}

ion-checkbox{    
    margin-right: 2%;
}