<ion-content class="background">
  <!-- <ion-grid>
      <ion-row height-50>
    
  </ion-row>
    </ion-grid> -->
  <ion-grid style="height: 100%">
    <ion-row style="height: 60%">
      <ion-col class="ion-align-self-end">
        <div>
          <ion-item class="username">
            <ion-label color="light" position="floating">
              <ion-icon name="contact"></ion-icon>Username
            </ion-label>
            <ion-input color="light" type="text"></ion-input>
          </ion-item>

          <ion-item class="password">
            <ion-label color="light" position="floating">
              <ion-icon name="key"></ion-icon>Password
            </ion-label>
            <ion-input color="light" type="password"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="height: 40%">
      <ion-col class="ion-align-self-center" offset-50 style="width: 100%;">
        <ion-item class="TnC">
          <ion-label color="light">Please read and accept Terms & Conditions</ion-label>
          <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
        <ion-button expand="block" [routerLink]="['/splash']" routerLinkActive="router-link-active" class="ion-align-self-center">Submit</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>