<ion-content class="background">

    <ion-toolbar style="opacity:0.5;">
      <ion-title>
        SET-UP YOUR HEALTH PROFILE
      </ion-title>
    </ion-toolbar>
  
  
    <ion-grid style="height: 100%">
  
      <!--Cigarettes Grid Starts Here-->
      <ion-row>
        <ion-col class="ion-align-self-end">
          <p>How many ciragettes do you smoke in a day ?</p>
          <ion-select value="3" interface="popover">
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
  
      <!--Drink Grid Starts Here-->
      <ion-row>
        <ion-col class="ion-align-self-end">
            <p>How many alcoholic drinks you consume per week ?</p>
            <ion-select value="3" interface="popover">
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
              </ion-select>
        </ion-col>
      </ion-row>
  
      <!--Mood Grid Starts Here-->
      <ion-row>
        <ion-col class="ion-align-self-end">
          <p>Please tell us your mood in last month</p>
          <ion-select value="verypositive" interface="popover">
            <ion-select-option value="verypositive">Very Positive</ion-select-option>
            <ion-select-option value="positive">Positive</ion-select-option>
            <ion-select-option value="negative">Negative</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
  
      <!-- Next Button-->
      <ion-row>
        <ion-col class="ion-align-self-end">
          <ion-button expand="block" class="ion-align-self-center">NEXT</ion-button>
        </ion-col>
      </ion-row>
  
    </ion-grid>
  
  </ion-content>