<ion-content>
      <ion-row style="text-align: center">
        <ion-col><h2>Stay Fit</h2></ion-col>
        </ion-row>
      <ion-content text-center width="300"height="200"padding=height>
          <img style="position: relative" src="assets/images/Exercise.png"  />
          <h6 style="text-align: center" padding=ion-content>Werve Encourages you to stay fit</h6>
      </ion-content>
      
  <ion-button expand="block" [routerLink]="['/login']" routerLinkActive="router-link-active"  style="position: absolute; width:288px; margin-left: -144px; left: 50%; bottom: 10%">Continue</ion-button>
</ion-content>


