<ion-content>
  <ion-slides pager="true" [options]="slideOpts" style="height: 100% ;">
    <ion-slide style="height: 80% ;display: block;">
      <h1>Stay Fit</h1>
      <img style="width: 80%" src="assets/images/Exercise.png">  
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
  <ion-button expand="block" [routerLink]="['/splash']" routerLinkActive="router-link-active"  style="position: absolute; width:288px; margin-left: -144px; left: 50%; bottom: 10%">Continue</ion-button>  
</ion-content>
