<ion-content class="background"> 
  <ion-grid>
      <ion-row>
          <ion-col>
              <ion-img class="capgemini" src="assets/images/cropped-capgemini_logo.png"></ion-img>
              <h1 style="text-align: center">WERV<a style="color: rgb(18,171,219);">3</a></h1>
          </ion-col>
        </ion-row>
    <ion-row>
      <ion-col>
        <div style="color: black;">
          <h2><a style="color: rgb(18,171,219);">We</a>llness</h2>
        </div>
        <h2><a style="color: rgb(18,171,219);">Rev</a>olution</h2> 
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
          <h2><ion-img style="margin: auto auto; width: 50%" src="assets/images/Capgemini-mono.png"></ion-img></h2>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col style="text-align :center">
        <ion-button shape="round" style="width: 80%;" [routerLink]="['/splash']" routerLinkActive="router-link-active">
          Get Started
        </ion-button>       
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


  
