<ion-content class="background" style="text-align: center; vertical-align: center">
  <div  style="height:100%">
    <ion-img src="assets/images/heartbeat.png"></ion-img>
  <div style="text-align: center; color: white;">
    <h1>Welcome to Wellness</h1>
    <h1>@ Capgemini</h1>
    <br>
    <h2>A new way to stay fit <br>and get rewarded</h2>
  </div>
  <ion-button expand="block" [routerLink]="['/splash']" routerLinkActive="router-link-active"  style="position: absolute; width:288px; margin-left: -144px; left: 50%; bottom: 10%">Start the tour</ion-button>  
  </div>
</ion-content>


  
