<ion-content style="text-align: center; vertical-align: center">
  <div  style="height:100%">

    <ion-img class="capgemini" src="assets/images/capgemini_logo.png"></ion-img>
    <ion-img class="heartbeat" src="assets/images/WerveLogo.jpg"></ion-img>

  <div style="text-align: center; color: black;">

    <h2>Welcome to Wellness<br/>
    @ Capgemini</h2>
    <br>
    <h2>Stay Fit.Get Rewarded!</h2>
  </div>

  <div class="button">
    <ion-button expand="block" shape="round" [routerLink]="['/splash']" routerLinkActive="router-link-active">
      Start the tour
    </ion-button>  
  </div>
  </div>

</ion-content>


  
