<ion-content class="background">

  <ion-toolbar style="opacity:0.5;">
    <ion-title>
      SET-UP YOUR HEALTH PROFILE
    </ion-title>
  </ion-toolbar>


  <ion-grid style="height: 100%">

    <!--Height Grid Starts Here-->
    <ion-row>
      <ion-col class="ion-align-self-end">
        <p>Please tell us your height.</p>
        <ion-select value="1.2" interface="popover">
          <ion-select-option value="1.2">1.2 Meters</ion-select-option>
          <ion-select-option value="1.4">1.4 Meters</ion-select-option>
          <ion-select-option value="1.6">1.6 Meters</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <!--Weight Grid Starts Here-->
    <ion-row>
      <ion-col class="ion-align-self-end">
          <p>Please tell us your weight.</p>
          <ion-select value="80" interface="popover">
            <ion-select-option value="80">80 Kilograms</ion-select-option>
            <ion-select-option value="90">90 Kilograms</ion-select-option>
            <ion-select-option value="100">100 Kilograms</ion-select-option>
          </ion-select>
      </ion-col>
    </ion-row>

    <!--Waist Grid Starts Here-->
    <ion-row>
      <ion-col class="ion-align-self-end">
        <p>Please tell us your waist size.</p>
        <ion-select value="32" interface="popover">
          <ion-select-option value="32">32 inches</ion-select-option>
          <ion-select-option value="34">34 inches</ion-select-option>
          <ion-select-option value="36">36 inches</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <!-- Next Button-->
    <ion-row>
      <ion-col class="ion-align-self-end">
        <ion-button expand="block" [routerLink]="['/enrollmentp2']" routerLinkActive="router-link-active" class="ion-align-self-center">NEXT</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>