ion-content{
    --background : linear-gradient( rgb(129, 217, 236) 80%, white 30%);
}
ion-card{
    --background :white
}

ion-row.ipn ion-col{
    width:100%;    
}
ion-col#label{
    padding: 0%;
    width: 80%;
}
ion-label{
    padding: 0%;
    align-items: center;
    margin: 0%; 
}
