<ion-content class="background">

  <ion-toolbar style="opacity:0.5;">
    <ion-title>
      MEMBER ENROLLMENT
    </ion-title>
  </ion-toolbar>
  <!-- grid-->

  <div>
    <ion-grid style="height: 40%;width:40%;padding-top: 8%">
      <ion-row>
        <ion-col>
          <ion-img src="assets/images/Member.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-grid style="height: 100%">

        <ion-row class="ipn">

          <ion-col id="label" class="ion-align-self-end">
            <ion-item color="transparent" lines="none">
              <ion-input id="input" readonly>Insurance Policy Number</ion-input>
            </ion-item>
          </ion-col>

          <ion-col class="ion-align-self-end">
            <ion-item color="transparent" lines="none">
              <ion-label slot="end">01164137</ion-label>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col class="ion-align-self-end">
            <ion-item color="transparent" lines="none">
              <ion-label>Date Of Birth</ion-label>
              <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item lines=none>
              <ion-label>Gender</ion-label>
              <ion-select value="female" interface="popover">
                <ion-select-option value="male">Male</ion-select-option>
                <ion-select-option value="female">Female</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>

          <ion-col>
            <ion-item color="transparent" lines="none">
             <ion-label style="padding-right: 30%">Email Id</ion-label>
              <ion-input type="email"  value="Cathy.muller@gmail.com" style="width: 100%"> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-align-self-end">
            <ion-item lines=none>
                <ion-label >Phone Number</ion-label>
              <ion-input type="tel"  value="+852 6689251" slot="end"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-grid style="padding-top: 10%">
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" [routerLink]="['/enrollmentp1']" routerLinkActive="router-link-active">Next</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>