
.mainContainer{
    height:100%;
}

div.status-grid{
    height: 20%;
    padding: 5px;
    display: flex;
    justify-content: center;
}

div.progressBar{
    height: 30%;
    padding: 10px;
}
div.progressBar ion-item{
    margin: 10;
    padding: 0;
    display: flex;
    justify-content: center;
    box-align: inherit;
    box-sizing: inherit;

}
div.mainCards{
    height: 45%;
    padding: 10px;
}
.mainCards ion-grid{
    //box-sizing: inherit;
    //background-color: blue;
    height: 100%;    
    display: flex;
    justify-content: center;
}
.mainCards ion-row{
    background-color: #fff;
    height: 50%;
}

.mainCards ion-col{
    //background-color: #fff;
    height: 100%;
}
.mainCards ion-card{
    height: 100%;
    margin: auto;
}
ion-card.earnMorePoints{
    background-color: #ff9a60;
}
ion-card.pointsStatement{
    background-color: #33d8fd;
}
ion-card.healthAssesment{
    background-color: #b633fd;
}
ion-card.fitnessDevices{
    background-color: #fd3355;
}
div.ion-avatar{
    justify-content: center;    
    display: flex;
    padding-top: 5%;
}
.mainCards ion-label{
    text-align: center;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
   